<!DOCTYPE html>
<html>
<head>
  <title>VTURESULTS</title>
</head>
<body>
  <div>
<form method="POST" action="/say">
  REGION:<input type="text" name="region"><br><br>
  COLLEGECODE:<input type="text" name="clgcode"><br><br>
  YEAR:<input type="text" name="year"><br><br>
  BRANCH:<input type="text" name="branch"><br><br>
  LOWRANGE:<input type="text" name="lran"><br><br>
  HIGHRANGE:<input type="text" name="hran"><br><br>
  <input type="submit" name="sub" value="submit">

</form>
</div>
</body>
</html>